<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}FoodPoker{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
        {% endblock %}
    </head>
    <body ng-app="FoodPokerApp" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-padding>
                <h2 flex md-truncate>
                    <a href="{{ path('index') }}"><i class="fas fa-utensils"></i> FoodPoker - Roulette</a>
                </h2>
            </div>
        </md-toolbar>

        <md-content id="app-content" md-scroll-y layout="column" layout-align="center none" layout-padding>
            {% block body %}{% endblock %}
        </md-content>

        {% block javascripts %}
            <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

            <script type="text/javascript">
                var app = angular.module('FoodPokerApp', ['ngMaterial', 'ngMessages']);
                // Enable beforeSend on HTTP client
                app.config(['$httpProvider', function ($httpProvider) {
                    $httpProvider.interceptors.push(function () {
                        return {
                            request: function (request) {
                                if (request.beforeSend) {
                                    request.beforeSend();
                                }

                                return request;
                            }
                        }
                    });
                }]);
                // Error Handler
                app.factory('$appErrorHandler', function ($mdToast) {
                    return {
                        render: function (message) {
                            message = message || 'Something went wrong...';

                            $mdToast.show(
                                $mdToast.simple()
                                    .textContent(message)
                                    .position('top right')
                                    .parent(document.getElementById('app-content'))
                                    .hideDelay(3000)
                            );
                        }
                    };
                });
            </script>
        {% endblock %}
    </body>
</html>
